body {
    margin: 0;
    margin-top: 80px;
    font-family: Arial, sans-serif;

}

.intro {
    text-align: center;
}

.Intro_header {
    font-weight: bold;
    font-size: 22px;
}

.intro_content {
    margin-top:20px;
    color: black;

}

.contact {
    margin-top: 35px;
    width: fit-content; /* or set a specific width like 50%, 200px, etc. */
    margin-left: 0;
    margin-right: 0;
    flex: 1;
}
.Contactinfo{
    text-align: center;
    font-weight: bold;
}
.contactdiv{
    margin-top: 20px;
    text-align: center;
}

.news {
  margin-top: 35px;
  flex: 1;
  text-align: center;

}

.divider {
  width: 3px; /* Width of the divider line */
  background-color: #ccc; /* Grey color */
  margin: 0 40px; /* Adjust margin as needed */
  margin-top: 35px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer{
    margin-top: 35px;
    text-align: center;
}

.mainb {
    color: blue; /* Change this to the color you want */
    text-decoration: none; /* This removes the underline */
}
.school{
    margin-top: 6px;
}

.news_header{
    font-weight: bold;
}
.newsart{
    margin-top: 20px;
}
/* css for top bar*/
.top-bar {
    background-color: #4c0099;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-text {
    font-size: 25px; /* Adjust the font size as needed */
    margin-left: 20%;
}

/* Right text styles */
.right-text {
    font-size: 20px; /* Adjust the font size as needed */
    margin-right: 20%;
    display: flex;
}

.about {
    margin-right: 25%;
}
.projects {
    margin-right: 25%;
}
.business {
    margin-right: 0px;
}
.content {
    /* Adjust padding-top to make space for the fixed top bar */
    padding-top: 40px; /* Adjust according to your top bar height */
    /* Add other styles for your content */
}
.headerlink {
    color: #FFFFFF; /* Change this to the color you want */
    text-decoration: none; /* This removes the underline */
}


/* css for top bar -- end*/